*.class
*.pyc
*.pkc
.DS_Store
nengo-*
nengo-latest.zip
NengoModels

#### eclipse
.classpath
.settings/*
.metadata/*


#### configs
simulator-ui/commandhistory.dat

simulator-ui/quick/*

simulator-ui/python/timeview/layout.db.bak


simulator-ui/delimited_file_exporter_test.txt


#### build
simulator/build/tmp/*
simulator-ui/build/tmp/*
simulator/build/libs/*.jar
